.home-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  background: #1e1e1e;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 216, 255, 0.4);

  p {
    font-size: 1.4rem;
    margin-top: 15px;
  }

  .btn-danger {
    background-color: #ff0040;
    font-weight: bold;
    border-radius: 8px;
  }


  .btn-login-acceso {
  background-color: #00d8ff;
  color: #000;
  font-family: 'Orbitron', sans-serif;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 10px #00d8ff;

  &:hover {
    background-color: #00bce0;
    box-shadow: 0 0 15px #00f2ff;
  }
}

}
