.codigos-container {
  font-family: 'Orbitron', sans-serif;
  background: #0b0b13;
  color: white;
  padding: 3rem;
  min-height: 100vh;

  h1 {
    text-align: center;
    color: cyan;
    font-size: 2.5rem;
    text-shadow: 0 0 10px cyan;
    margin-bottom: 2rem;
  }

  .bloque {
    background: #111121;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px cyan;
    max-width: 600px;
    margin: 2rem auto;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: cyan;
      text-shadow: 0 0 6px cyan;
    }

    input,
    select {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.7rem;
      background: black;
      color: cyan;
      border: 1px solid cyan;
      border-radius: 8px;
      font-family: 'Orbitron', sans-serif;
      font-size: 0.95rem;
      transition: all 0.3s ease;

      &:focus {
        outline: none;
        box-shadow: 0 0 10px cyan;
      }
    }

    button {
      display: block;
      width: 100%;
      padding: 0.7rem;
      background: transparent;
      border: 1px solid cyan;
      color: cyan;
      font-family: 'Orbitron', sans-serif;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: cyan;
        color: black;
        box-shadow: 0 0 12px cyan;
      }
    }
  }

  .mensaje {
    color: #00ffcc;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
  }

  .error {
    color: red;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
  }
}

.fade-in {
  opacity: 0; 
  animation: fadeInPage 0.6s ease-in-out 0.15s forwards; /* forwards = mantiene estado final */
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(20px);
    filter: brightness(0.8) blur(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: brightness(1) blur(0);
  }
}


.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #00ffff;
    border-radius: 12px;
    padding: 16px;
    margin: 10px;
    width: 250px; /* tamaño fijo */
    min-height: 500px; /* altura mínima para que todas sean iguales */
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px #00ffff;
    transition: transform 0.2s ease-in-out;
}

.item-img {
    width: 200px;
    height: 200px;
    object-fit: contain; /* así da igual si es cuchillo, arma o skin */
    margin-bottom: 10px;
}

.item-card h3 {
    font-size: 1.2rem;
    margin: 5px 0;
    text-align: center;
}

.item-card p {
    font-size: 0.95rem;
    margin: 2px 0;
    text-align: center;
}

.item-card button {
    margin-top: auto; /* el botón se va siempre abajo */
    width: 80%;
    padding: 6px;
    border: none;
    border-radius: 6px;
    background-color: #00ffff;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.item-card button:hover {
    background-color: #00ccff;
}
